<div class="container">
  <div class="main">
    <H1 class="title">C R U S H S</H1>
      <div>
        <%= image_tag "logo1", class: "logo-home-page"%>
      </div>
    <H2 class="slogan"><em>VOUS ALLEZ ADORER VOUS RENCONTRER</em></H2>
      <div class="btn btn-big">
      <%= link_to "Trouvez votre crush", new_subscription_path, class: "a-pink" %>
      </div>
      <%= link_to "En savoir plus sur nous", new_subscription_path(anchor:"about"), class: "btn-ghost arrow-btn"%>
      <p>Où nous trouver :</p>
      <div class="footer">
      <%= link_to "", crushes_path, class: "fab fa-twitter" %>
      <%= link_to "", crushes_path, class: "fab fa-instagram" %>
      <%= link_to "", crushes_path, class: "fab fa-facebook" %>
      </div>

  <div class="conditions"></div>
    <p>En vous inscrivant vous acceptez nos
    <%= link_to "Conditions Générales d’Utilisation", condition_path, class: "a-pink-condition" %>.
    Pour plus d’informations sur l’utilisation des données, consultez notre
    <%= link_to "Politique de Confidentialité", condition_path, class: "underline a-pink-condition" %>.</p>
  </div>
</div>

<%# lien vers les conditions générales d'utilisation %>
<%# lien vers la Politique de confidentialité %>
