<h1>Show profil</h1>
<li>
  <ul><%=@profil.email%></ul>
  <ul><%=@profil.name%></ul>
  <ul><%=@profil.birth_date%></ul>
  <ul><%=@profil.gender%></ul>
</li>

<p><strong>Pictures</strong></p>
<ul class="list-group">
  <% @profil.pictures.each do |picture| %>
    <li class="list-group-item"><%= picture.comment %></li>
  <% end %>
  <%= link_to "Delete",
    picture_path(picture),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</ul>


<br>
