<%# banner ? / titre attrayant / button mis en avant / phrase mystérieuse  %>
<%# TeekTak a fait le choix de profiter de sa landing page de pré-lancement pour soumettre un sondage à son audience. C’est une excellente idée lorsque votre projet est en cours de création, et qu’il est encore temps d’y apporter quelques modifications. %>
<%# présenter notre produit : page about %>
<%# aperçu de l'interface derrière pour donner une idée à l'utilisateur du résultat final %>
<%# mettre en avant le formulaire d'inscription %>
<%# mettre en avant les problématiques auxquelles crushs répond : Ne pas parler à la personne, ne pas savoir commenter la discussion. Ne pas connaître les affinités au-delà de la bio / Perdre du temps sans se rencontrer et être déçu au moment de la rencontre %>
          <%# En prenant en compte vos attentes, vous êtes maîtres de vos rencontres. <br> %>
          <%# En se concentrant sur l'essentiel, vous allez à l'essentiel. </p> %>
          <%# <p>Trouve la bonne personne</p> %>
          <%# <p>Intéressé ? Soyez l'un des premiers à nous tester</p> %>
          <%# <p> Si vous souhaitez être parmi les premiers à participer à l'aventure et à trouver votre <em>Crush</em>
          vous pouvez vous inscrire ci-dessous. </p> %>
          <%# <%= image_tag "logo1", class: "logo-home-page"%>
          <%# <h4>Rejoignez la communauté CRUSHS et préparez vous pour vos plus belles rencontres.</h4> <br> %>
          <%# <%= simple_form_for (@subscription) do |f| %>
            <%# <div class="form-inputs"> %>
              <%# <%= f.input :email, %>
                          <%# required: true, %>
                          <%# autofocus: true, %>
                          <%# input_html: { autocomplete: "Je me préinscris" } %>
            <%# </div> %>

            <%# <div class="form-actions"> %>
              <%# <%= f.button :submit, "Resend confirmation instructions" %>
            <%# </div> %>
          <%# <% end %>

          <%# Je me préinscris (logo flêche) / formulaire au milieu de la page pour le taux de conversion / nom et mail + submit je me préinscris (ou ajouter moi) / Box shadow pour le faire ressortir%>

          <%# <h5>Pour en savoir plus sur nous :</h5> %>
          <%# <%= link_to "Pour en savoir plus sur nous", about_path, class: "btn-ghost"%>

<div class="container">
        <div class="up-presentation">
          <div class= "top">
            <h2> Quelque chose de nouveau se prépare ... </h2>
            <h1><%= image_tag "logo1", class: "logo"%> <em class= "title">CRUSHS</em> sera bientôt disponible ! </h1>

            <h4>Soyez l'un des premiers à à participer à l'aventure et à trouver votre <em>Crush</em> !</h4>


          <p>Vous êtes prêt ? Inscrivez-vous pour profiter très bientôt de notre expérience</p>
          </div>
          <div class="input-container">
            <%# <p>Des rencontres faciles</p> %>
            <%= simple_form_for @subscription, defaults: {input_html: { maxlength: 30 }}, wrapper: :horizontal_form do |f|%>
            <%= f.input :name, label: 'Votre nom :', placeholder: "Adrien", required: true, hint: "Pas de caractères spéciaux s'il vous plaît!" %>
            <%= f.input :mail, as: :email, label: 'Votre mail :', placeholder: 'user@domain.com', class: 'input-size' %>
            <%= f.button :submit, "Je me préinscris !", class: "btn-ghost" %>
            <% end %>
          </div>
        </div>

</div>
  <div class="down-presentation">
  <h3 class="margin-top-20 margin-left-20 underline">En savoir plus sur CRUSHS</h3>
    <div class="box-container">
      <%# <p>accès avant-première</p> %>
      <div class="box">
        <h5 class="underline" id="white">Pourquoi s'inscrire ?</h5>
        <p>Notre objectif est de vous permettre de rencontrer rapidement le ou les personnes qui vous plaisent tout en vous laissant libre de suivre votre feeling. <br>
        En nous aidant à développer notre application vous aidez à son amélioration pour faire de CRUSHS la référence des rencontres amoureuses et atteindre notre objectif, grâce à vous. <br>
        Parce que nous souhaitons développer notre idée pour vous, avec vous, nous faisons très attentiion à vos retours afin de nous améliorer et enfin lancer une version aboutie et efficace. <br>
        C’est l’assurance d’un haut niveau de satisfaction de la part de nos futurs utilisateurs.
        Parce que nous souhaitons vous privilégier et vous offrir la possibilité d'être parmi les premiers à pouvoir utiliser CRUSHS. <br>
        </p>
      </div>

      <div class="box">
        <h5 class="underline" id="white">Comment participer ?</h5>
        <p>Remplir tout simplement les formulaires avec votre nom et votre adresse mail. <br>
        Nous vous enverrons ensuite un mail de confirmation et reviendrons rapidement vers vous pour échanger à propos de CRUSHS et vous
        faire tester notre application en avant-première afin d'obtenir des informations essentielles, en quelques minutes. <br>
        Dès votre inscription vous serez considéré comme un nouvel utilisateur, avec accès à l'ensemble des fonctionnalités, gratuitement et à vie
        (parce qu'il est important de vous offrir les avantages que vous méritez). <br>
        Vous recevrez ensuite régulièrement les informations sur notre offre et notre évolution, avec accès premium aux nouveautés au fur et à mesure de leur sortie.
        Evidemment, cette proposition est sans engagement, vous êtes libres d'arrêter dès que vous le voulez.</p>
        </p>
      </div>

      <div class="box">
        <h5 class="underline" id="white"> Qu'est ce que CRUSHS ?</h5>
        <p> CRUSHS souhaite répondre aux problèmes rencontrées sur les différents sites de rencontre et se reconcentrer sur l'essentiel : aboutir à une véritable rencontre. <br>
        Nous partons du principe qu'un algorithme compliqué ne remplace pas le feeling et la véritable rencontre. Nous vous aidons à trouver la bonne personne. <br>

        </p>
      </div>
    </div>
      <div class="footer-without-border">
      <p> <em class="underline find-us-align">N'hésitez pas à nous suivre</em> :</p>
      <%= link_to "", profils_path, class: "fab fa-github" %>
      <%= link_to "", crushes_path, class: "fab fa-instagram" %>
      <%= link_to "", crushes_path, class: "fab fa-facebook" %>
      </div>
  </div>
